In [5]:
from module import *
import pandas as pd
import numpy as np
from IPython.display import Latex, display_latex

In [6]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
PRECISION = 3
np.set_printoptions(precision=PRECISION, suppress=True)
pd.options.display.float_format = "{:.3f}".format

## Data input

In [8]:
# R -> Radios
# < -> Angulos en º
data = np.array(
    [
        # R    # <
        (100., np.deg2rad(30)),
        ( 90., np.deg2rad(40)),
        (110., np.deg2rad(20)),
    ],
)
_ = pd.DataFrame(data, columns=['radios', 'angulos'])
__ = _.apply({'radios': lambda x: x, 'angulos': np.rad2deg})
__

   radios  angulos
0 100.000   30.000
1  90.000   40.000
2 110.000   20.000

In [9]:
subtangentes = st_vec(data)
for idx, row in __.iterrows():
    A = np.float32(row['angulos'])
    R = np.float32(row['radios'])
    string = f'$ {R} \\times \\tan{A / 2}º \\qquad = {round(subtangentes[idx], PRECISION)} $'
    display_latex(Latex(string))
    
_['subtangentes'] = subtangentes
_

   radios  angulos  subtangentes
0 100.000    0.524        26.795
1  90.000    0.698        32.757
2 110.000    0.349        19.396

In [10]:
# Calculo de diagonales
diag_vec(data[::-1], st_=True)

array([[20.597,  1.047],
       [69.411,  1.571]])

In [11]:
# Calculo de cotas
p_total(data, pi=14_000)

array([13903.794, 13956.154, 14018.986, 14057.383])

In [12]:
expanded = expand__(data, pi=14_000, prec=10)
_ = pd.DataFrame(expanded, columns=['radio', 'angulo', 'cota'])
# _['gamma'] = gamma_vec(expanded[:,1:3])
_

     radio  angulo      cota
0  100.000   0.524 13903.794
1  100.000   0.524 13910.000
2  100.000   0.524 13920.000
3  100.000   0.524 13930.000
4  100.000   0.524 13940.000
5  100.000   0.524 13950.000
6   90.000   0.698 13956.154
7   90.000   0.698 13960.000
8   90.000   0.698 13970.000
9   90.000   0.698 13980.000
10  90.000   0.698 13990.000
11  90.000   0.698 14000.000
12  90.000   0.698 14010.000
13 110.000   0.349 14018.986
14 110.000   0.349 14020.000
15 110.000   0.349 14030.000
16 110.000   0.349 14040.000
17 110.000   0.349 14050.000
18   0.000   0.000 14057.383